{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'homepage/_nav.html' %}
    {% include 'homepage/_slides.html' %}

    {% include 'homepage/_services.html' %}
    {% include 'homepage/_counter.html' %}
    {% include 'homepage/_blog.html' %}
    {% include 'homepage/_testimony.html' %}
    {% include 'homepage/_subscribe.html' %}
    
    {% include 'homepage/_footer.html' %}
{% endblock %}


{% comment %}

    {% include 'homepage/_welcome.html' %}
    {% include 'homepage/_works.html' %}
    {% include 'homepage/_about.html' %}

{% endcomment %}
